@font-face {
  font-family: AppleGothicM;
  src: url(../font/AppleSDGothicNeoM.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothicM;
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.sec_footerNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.sec_footerNav .list_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dbdbdb;
}

.sec_footerNav .btn_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84px;
  padding: 15px 0;
  font-size: 12px;
  color: #767676;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.sec_footerNav .btn_menu:hover {
  background-color: #dbdbdb;
}

.sec_footerNav .img_menu {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.sec_addProductHeader {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  padding: 13px 16px;
  background-color: white;
  z-index: 500;
}

.sec_newProfile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 60px 0;
}

.sec_newProfile label,
.sec_newProfile input {
  display: block;
}

.sec_newProfile label {
  font-size: 16px;
  color: #767676;
}

.sec_newProfile .inp_login {
  border: none;
  border-bottom: 2px solid #dbdbdb;
  width: 322px;
  padding: 5px 2px;
  font-size: 18px;
  color: black;
}

.sec_newProfile .inp_login::-webkit-input-placeholder {
  font-size: 16px;
  color: #dbdbdb;
}

.sec_newProfile .inp_login:-ms-input-placeholder {
  font-size: 16px;
  color: #dbdbdb;
}

.sec_newProfile .inp_login::-ms-input-placeholder {
  font-size: 16px;
  color: #dbdbdb;
}

.sec_newProfile .inp_login::placeholder {
  font-size: 16px;
  color: #dbdbdb;
}

.sec_newProfile .inp_login:focus {
  outline: none;
  border-bottom: 2px solid #EA7F42;
}

.sec_newProfile .inp_price::-webkit-outer-spin-button,
.sec_newProfile .inp_price::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.sec_newProfile .inp_profileImg {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.sec_newProfile .inp_profileImg:focus ~ .label_profileImg {
  outline: 2px solid black;
}

.sec_newProfile .txt_profileImg {
  margin-bottom: 6px;
  color: #767676;
}

.sec_newProfile .label_profileImg {
  display: block;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 322px;
  height: 204px;
  margin: auto;
  background-color: #dbdbdb;
  cursor: pointer;
}

.sec_newProfile .label_profileImg::after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 36px;
  height: 36px;
  background-image: url(../img/img-button.png);
  background-size: contain;
}

.sec_newProfile .img_profile {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.sec_newProfile .wrap_userName {
  margin-top: 30px;
}

.sec_newProfile .wrap_userId,
.sec_newProfile .wrap_intro {
  margin-top: 15px;
}

.sec_newProfile .txt_err {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: red;
}

.sec_newProfile .btn_save.on {
  background-color: #EA7F42;
}

.sec_newProfile .btn_save {
  position: absolute;
  top: 8px;
  right: 16px;
  border-radius: 32px;
  width: 90px;
  height: 32px;
  color: white;
  background-color: #FFC7A7;
  z-index: 500;
}

@-webkit-keyframes ldio-c19gcpxvio8 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes ldio-c19gcpxvio8 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.sec_loading {
  display: none;
}

.loadingio-spinner-rolling-qs5upd9hsda {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  overflow: hidden;
  background: #00000050;
  z-index: 500;
}

.ldio-c19gcpxvio8 div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 80px;
  height: 80px;
  border: 10px solid #ea7f42;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: ldio-c19gcpxvio8 1s linear infinite;
          animation: ldio-c19gcpxvio8 1s linear infinite;
}

.ldio-c19gcpxvio8 {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

/* generated by https://loading.io/ */
/*# sourceMappingURL=addProduct.css.map */