@import 'util';
@import 'navigation';

.sec_createPostHeader {
  @include headerCompact;
}

.wrap_createPost {
  display: flex;
  padding: 80px 16px;
  .img_writer {
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .form_createPost {
    width: 100%;
    overflow: hidden;
  }
  .inp_textarea {
    border: none;
    width: 100%;
    padding: 3px;
    font-size: 14px;
    overflow-y: hidden;
    resize: none;
  }
  .list_previewImg {
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .item_previewImg {
      margin-right: 10px;
    }
    .img_preview {
      border-radius: 10px;
      width: 304px;
      height: 228px;
    }
  }
  .label_upload {
    position: fixed;
    right: 16px;
    bottom: 16px;
    box-shadow: 1px 1px 3px 1px #00000060;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .inp_postImg {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    &:focus ~ .label_upload {
      outline: 2px solid black;
    }
  }
  .btn_upload.on {
    background-color: $c-main;
  }
  .btn_upload {
    position: absolute;
    top: 10px;
    right: 16px;
    border-radius: 32px;
    padding: 7px 25px;
    font-size: 14px;
    color: white;
    background-color: $c-disable;
    z-index: 500;
  }
}

@media screen and (max-width: 389px) {
  .wrap_createPost {
    .list_previewImg {
      .img_preview {
        border-radius: 10px;
        width: 168px;
        height: 126px;
      }
    }
  }
}