@font-face {
  font-family: AppleGothicM;
  src: url(../font/AppleSDGothicNeoM.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothicM;
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.sec_footerNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.sec_footerNav .list_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dbdbdb;
}

.sec_footerNav .btn_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84px;
  padding: 15px 0;
  font-size: 12px;
  color: #767676;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.sec_footerNav .btn_menu:hover {
  background-color: #dbdbdb;
}

.sec_footerNav .img_menu {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

@font-face {
  font-family: AppleGothicM;
  src: url(../font/AppleSDGothicNeoM.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothicM;
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.modal_confirm {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal_confirm .wrap_confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
}

.modal_confirm .txt_confirm {
  padding: 22px 61px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.modal_confirm .list_btnConfirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #dbdbdb;
}

.modal_confirm li {
  width: 100%;
}

.modal_confirm .btn_confirm {
  width: 100%;
  padding: 14px 50px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal_confirm .btn_confirm:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal_confirm .btn_cancel {
  border-bottom-left-radius: 10px;
}

.modal_confirm .btn_delete {
  border-left: 1px solid #dbdbdb;
  border-bottom-right-radius: 10px;
  color: #EA7F42;
}

.modal_postImg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.modal_postImg .wrap_postImg {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal_postImg .img_postImg {
  -webkit-box-shadow: 0px 0px 30px 1px black;
          box-shadow: 0px 0px 30px 1px black;
  max-width: 90vw;
  max-height: 45vh;
}

.modal_postImg .btn_close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.modal_profile,
.modal_post,
.modal_product,
.modal_report,
.modal_delete {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.modal_profile .wrap_profile,
.modal_post .wrap_profile,
.modal_product .wrap_profile,
.modal_report .wrap_profile,
.modal_delete .wrap_profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.modal_profile li,
.modal_post li,
.modal_product li,
.modal_report li,
.modal_delete li {
  width: 100%;
}

.modal_profile .btn_profile,
.modal_post .btn_profile,
.modal_product .btn_profile,
.modal_report .btn_profile,
.modal_delete .btn_profile {
  width: 100%;
  padding: 14px 0 14px 26px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal_profile .btn_profile:hover,
.modal_post .btn_profile:hover,
.modal_product .btn_profile:hover,
.modal_report .btn_profile:hover,
.modal_delete .btn_profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal_profile .list_btnProfile:first-child,
.modal_post .list_btnProfile:first-child,
.modal_product .list_btnProfile:first-child,
.modal_report .list_btnProfile:first-child,
.modal_delete .list_btnProfile:first-child {
  margin-top: 36px;
}

.modal_profile .btn_close,
.modal_post .btn_close,
.modal_product .btn_close,
.modal_report .btn_close,
.modal_delete .btn_close {
  position: absolute;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  width: 50px;
  height: 4px;
  background-color: #dbdbdb;
}

.sec_homeMain {
  position: relative;
  overflow: hidden;
}

.sec_homeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  background-color: white;
  z-index: 500;
  padding: 13px 10px;
}

.sec_homeHeader .txt_title {
  font-size: 18px;
}

.sec_noneFeed.on {
  display: block;
}

.sec_noneFeed {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  margin: auto;
  padding: 60px 0;
  text-align: center;
}

.sec_noneFeed .wrap_noneFeed {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec_noneFeed .txt_searchInfo {
  margin: 25px 0 20px;
  font-size: 14px;
}

.sec_noneFeed .btn_search {
  border-radius: 44px;
  padding: 13px 34px;
  font-size: 14px;
  color: white;
  background-color: #EA7F42;
}

.sec_feed.on {
  display: block;
}

.sec_feed {
  display: none;
  height: 100vh;
  padding: 80px 16px;
  overflow-y: scroll;
}

.sec_feed::-webkit-scrollbar {
  display: none;
}

.sec_feed .artic_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.sec_feed .artic_feed .img_profile {
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.sec_feed .artic_feed .wrap_contents {
  width: 100%;
}

.sec_feed .artic_feed .wrap_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0;
}

.sec_feed .artic_feed .txt_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec_feed .artic_feed .txt_profileName {
  font-size: 14px;
}

.sec_feed .artic_feed .txt_profileId {
  font-size: 12px;
  color: #767676;
}

.sec_feed .artic_feed .txt_feedText {
  margin: 16px 0;
}

.sec_feed .artic_feed .img_feedImg {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 304px;
  height: 228px;
  margin-bottom: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
}

.sec_feed .artic_feed .list_likeComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.sec_feed .artic_feed .wrap_likeComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.sec_feed .artic_feed .img_icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sec_feed .artic_feed .txt_postDate {
  color: #767676;
}
/*# sourceMappingURL=home.css.map */