@import 'util';
@import 'navigation';
@import 'modal';

.sec_profileHeader {
  @include headerBase;
  padding: 13px 16px;
}

body {
  overflow: hidden;
}
.sec_profileMain {
  height: 100vh;
  padding: 60px 0;
  background-color: $c-layout;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
.sec_profile {
  position: relative;
  border-bottom: 5px solid $c-layout;
  padding: 30px 0;
  background-color: white;
  text-align: center;
  .wrap_profile {
    display: flex;
    flex-direction: column;
    .img_profile {
      border: 1px solid $c-layout;
      border-radius: 100%;
      width: 110px;
      height: 110px;
      margin: auto;
      object-fit: cover;
      object-position: center center;
    }
    .txt_userName {
      margin: 16px 0 6px;
    }
    .txt_userId {
      font-size: 12px;
      color: $c-txt;
    }
    .txt_overview {
      margin: 16px 0 24px;
      font-size: 14px;
      color: $c-txt;
    }
  }
  .list_follow.on {
    display: flex;
  }
  .list_follow {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 0 50px;
    .wrap_follow {
      display: flex;
      flex-direction: column-reverse;
      dt {
        font-size: 12px;
        color: $c-txt;
      }
      dd {
        font-size: 18px;
        color: $c-txt;
      }
      .txt_followrs {
        font-weight: 700;
        color: black;
      }
    }
  }
  .list_btnFollow {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn_side {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border: 1px solid $c-layout;
      border-radius: 100%;
      width: 34px;
      height: 34px;
      padding: 7px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .btn_follow.on {
      color: black;
      background-color: $c-layout;
    }
    .btn_follow {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border-radius: 30px;
      margin: 0 10px;
      padding: 8px 40px;
      font-size: 14px;
      color: white;
      background-color: $c-main;
    }
  }
  .list_myProfileBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn_myProfile {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      border: 1px solid $c-layout;
      border-radius: 30px;
      padding: 8px 26px;
      font-size: 14px;
    }
    .btn_editProfile {
      margin-right: 11px;
    }
  }
}

.sec_products.on {
  display: block;
}
.sec_products {
  display: none;
  border-bottom: 5px solid $c-layout;
  padding: 20px 0 20px 21px;
  background-color: white;
  .txt_title {
    margin-bottom: 16px;
    font-size: 16px;
  }
  .list_products {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .item_product {
    margin-right: 10px;
  }
  .img_product {
    border-radius: 8px;
    width: 140px;
    height: 90px;
  }
  .txt_name {
    font-size: 14px;
  }
  .txt_price {
    font-size: 12px;
    color: $c-main;
  }
}

.sec_userFeed.on {
  display: block;
}
.sec_userFeed {
  display: none;
  background-color: white;
  .list_contentsType {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    border-bottom: 1px solid $c-layout;
    margin-bottom: 16px;
    padding: 9px 10px;
  }

  .sec_feed.on {
    display: block;
  }
  .sec_feed {
    display: none;
    height: 500px;
    padding: 0 20px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .artic_feed {
      display: flex;
      margin-bottom: 25px;
      .img_profile {
        border: 1px solid $c-layout;
        border-radius: 100%;
        width: 42px;
        height: 42px;
        margin-right: 12px;
        object-fit: cover;
        object-position: center center;
      }
      .wrap_contents {
        width: 100%;
      }
      .wrap_profile {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 4px 0;
      }
      .txt_profile {
        display: flex;
        flex-direction: column;
      }
      .txt_profileName {
        font-size: 14px;
      }
      .txt_profileId {
        font-size: 12px;
        color: $c-txt;
      }
      .txt_feedText {
        margin: 16px 0;
      }
      .img_feedImg {
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 304px;
        height: 228px;
        margin-bottom: 14px;
        object-fit: contain;
        background-color: whitesmoke
      }
      .list_likeComment {
        display: flex;
        margin-bottom: 15px;
      }
      .wrap_likeComment {
        display: flex;
        align-items: center;
        margin-right: 18px;
      }
      .img_icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
      .txt_postDate {
        color: $c-txt;
      }
    }
  }
  .sec_album.on {
    display: block;
  }
  .sec_album {
    display: none;
    .list_albumImg {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 16px;
    }
    .img_album {
      box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
      width: 114px;
      height: 114px;
      object-fit: cover;
      object-position: center center;
    }
    .list_albumImg:after {
      content: '';
      display: block;
      width: 114px;
      height: 114px;
    }
  }
}

@media screen and (min-width: 490px) {
  .sec_userFeed {
    .sec_album {
      .list_albumImg {
        row-gap: 10px;
      }
      .img_album {
        width: 150px;
        height: 150px;
      }
      .list_albumImg:after {
        width: 150px;
        height: 150px;
      }
    }
  }
}
@media screen and (max-width: 378px) {
  .sec_userFeed {
    .sec_album {
      .img_album {
        width: 100px;
        height: 100px;
      }
      .list_albumImg:after {
        width: 100px;
        height: 100px;
      }
    }
  }
}