@font-face {
  font-family: AppleGothicM;
  src: url(../font/AppleSDGothicNeoM.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothicM;
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.sec_footerNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.sec_footerNav .list_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dbdbdb;
}

.sec_footerNav .btn_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84px;
  padding: 15px 0;
  font-size: 12px;
  color: #767676;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.sec_footerNav .btn_menu:hover {
  background-color: #dbdbdb;
}

.sec_footerNav .img_menu {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

@font-face {
  font-family: AppleGothicM;
  src: url(../font/AppleSDGothicNeoM.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: AppleGothicM;
  text-decoration: none;
  color: black;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.txt_hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.modal_confirm {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal_confirm .wrap_confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
}

.modal_confirm .txt_confirm {
  padding: 22px 61px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.modal_confirm .list_btnConfirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #dbdbdb;
}

.modal_confirm li {
  width: 100%;
}

.modal_confirm .btn_confirm {
  width: 100%;
  padding: 14px 50px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal_confirm .btn_confirm:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal_confirm .btn_cancel {
  border-bottom-left-radius: 10px;
}

.modal_confirm .btn_delete {
  border-left: 1px solid #dbdbdb;
  border-bottom-right-radius: 10px;
  color: #EA7F42;
}

.modal_postImg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.modal_postImg .wrap_postImg {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal_postImg .img_postImg {
  -webkit-box-shadow: 0px 0px 30px 1px black;
          box-shadow: 0px 0px 30px 1px black;
  max-width: 90vw;
  max-height: 45vh;
}

.modal_postImg .btn_close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.modal_profile,
.modal_post,
.modal_product,
.modal_report,
.modal_delete {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.modal_profile .wrap_profile,
.modal_post .wrap_profile,
.modal_product .wrap_profile,
.modal_report .wrap_profile,
.modal_delete .wrap_profile {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.modal_profile li,
.modal_post li,
.modal_product li,
.modal_report li,
.modal_delete li {
  width: 100%;
}

.modal_profile .btn_profile,
.modal_post .btn_profile,
.modal_product .btn_profile,
.modal_report .btn_profile,
.modal_delete .btn_profile {
  width: 100%;
  padding: 14px 0 14px 26px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.modal_profile .btn_profile:hover,
.modal_post .btn_profile:hover,
.modal_product .btn_profile:hover,
.modal_report .btn_profile:hover,
.modal_delete .btn_profile:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal_profile .list_btnProfile:first-child,
.modal_post .list_btnProfile:first-child,
.modal_product .list_btnProfile:first-child,
.modal_report .list_btnProfile:first-child,
.modal_delete .list_btnProfile:first-child {
  margin-top: 36px;
}

.modal_profile .btn_close,
.modal_post .btn_close,
.modal_product .btn_close,
.modal_report .btn_close,
.modal_delete .btn_close {
  position: absolute;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  width: 50px;
  height: 4px;
  background-color: #dbdbdb;
}

.sec_profileHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  background-color: white;
  z-index: 500;
  padding: 13px 16px;
}

body {
  overflow: hidden;
}

.sec_profileMain {
  height: 100vh;
  padding: 60px 0;
  background-color: #dbdbdb;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sec_profileMain::-webkit-scrollbar {
  display: none;
}

.sec_profile {
  position: relative;
  border-bottom: 5px solid #dbdbdb;
  padding: 30px 0;
  background-color: white;
  text-align: center;
}

.sec_profile .wrap_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec_profile .wrap_profile .img_profile {
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.sec_profile .wrap_profile .txt_userName {
  margin: 16px 0 6px;
}

.sec_profile .wrap_profile .txt_userId {
  font-size: 12px;
  color: #767676;
}

.sec_profile .wrap_profile .txt_overview {
  margin: 16px 0 24px;
  font-size: 14px;
  color: #767676;
}

.sec_profile .list_follow.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec_profile .list_follow {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 70px;
  width: 100%;
  padding: 0 50px;
}

.sec_profile .list_follow .wrap_follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sec_profile .list_follow .wrap_follow dt {
  font-size: 12px;
  color: #767676;
}

.sec_profile .list_follow .wrap_follow dd {
  font-size: 18px;
  color: #767676;
}

.sec_profile .list_follow .wrap_follow .txt_followrs {
  font-weight: 700;
  color: black;
}

.sec_profile .list_btnFollow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_profile .list_btnFollow .btn_side {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  padding: 7px;
}

.sec_profile .list_btnFollow img {
  width: 100%;
  height: 100%;
}

.sec_profile .list_btnFollow .btn_follow.on {
  color: black;
  background-color: #dbdbdb;
}

.sec_profile .list_btnFollow .btn_follow {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  margin: 0 10px;
  padding: 8px 40px;
  font-size: 14px;
  color: white;
  background-color: #EA7F42;
}

.sec_profile .list_myProfileBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_profile .list_myProfileBtn .btn_myProfile {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  padding: 8px 26px;
  font-size: 14px;
}

.sec_profile .list_myProfileBtn .btn_editProfile {
  margin-right: 11px;
}

.sec_products.on {
  display: block;
}

.sec_products {
  display: none;
  border-bottom: 5px solid #dbdbdb;
  padding: 20px 0 20px 21px;
  background-color: white;
}

.sec_products .txt_title {
  margin-bottom: 16px;
  font-size: 16px;
}

.sec_products .list_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.sec_products .list_products::-webkit-scrollbar {
  display: none;
}

.sec_products .item_product {
  margin-right: 10px;
}

.sec_products .img_product {
  border-radius: 8px;
  width: 140px;
  height: 90px;
}

.sec_products .txt_name {
  font-size: 14px;
}

.sec_products .txt_price {
  font-size: 12px;
  color: #EA7F42;
}

.sec_userFeed.on {
  display: block;
}

.sec_userFeed {
  display: none;
  background-color: white;
}

.sec_userFeed .list_contentsType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 16px;
  padding: 9px 10px;
}

.sec_userFeed .sec_feed.on {
  display: block;
}

.sec_userFeed .sec_feed {
  display: none;
  height: 500px;
  padding: 0 20px;
  overflow-y: scroll;
}

.sec_userFeed .sec_feed::-webkit-scrollbar {
  display: none;
}

.sec_userFeed .sec_feed .artic_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.sec_userFeed .sec_feed .artic_feed .img_profile {
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  margin-right: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.sec_userFeed .sec_feed .artic_feed .wrap_contents {
  width: 100%;
}

.sec_userFeed .sec_feed .artic_feed .wrap_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 0;
}

.sec_userFeed .sec_feed .artic_feed .txt_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec_userFeed .sec_feed .artic_feed .txt_profileName {
  font-size: 14px;
}

.sec_userFeed .sec_feed .artic_feed .txt_profileId {
  font-size: 12px;
  color: #767676;
}

.sec_userFeed .sec_feed .artic_feed .txt_feedText {
  margin: 16px 0;
}

.sec_userFeed .sec_feed .artic_feed .img_feedImg {
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 304px;
  height: 228px;
  margin-bottom: 14px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
}

.sec_userFeed .sec_feed .artic_feed .list_likeComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.sec_userFeed .sec_feed .artic_feed .wrap_likeComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.sec_userFeed .sec_feed .artic_feed .img_icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sec_userFeed .sec_feed .artic_feed .txt_postDate {
  color: #767676;
}

.sec_userFeed .sec_album.on {
  display: block;
}

.sec_userFeed .sec_album {
  display: none;
}

.sec_userFeed .sec_album .list_albumImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
}

.sec_userFeed .sec_album .img_album {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  width: 114px;
  height: 114px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.sec_userFeed .sec_album .list_albumImg:after {
  content: '';
  display: block;
  width: 114px;
  height: 114px;
}

@media screen and (min-width: 490px) {
  .sec_userFeed .sec_album .list_albumImg {
    row-gap: 10px;
  }
  .sec_userFeed .sec_album .img_album {
    width: 150px;
    height: 150px;
  }
  .sec_userFeed .sec_album .list_albumImg:after {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 378px) {
  .sec_userFeed .sec_album .img_album {
    width: 100px;
    height: 100px;
  }
  .sec_userFeed .sec_album .list_albumImg:after {
    width: 100px;
    height: 100px;
  }
}
/*# sourceMappingURL=profile.css.map */