@import 'util';
@import 'navigation';

.sec_searchHeader {
  @include headerBase;
  padding: 10px 19px;
  .inp_search {
    width: 100%;
    min-width: 316px;
    font-size: 14px;
    border: none;
    border-radius: 32px;
    margin-left: 20px;
    padding: 7px 0px 7px 16px;
    background-color: #f2f2f2;
    &:focus {
      outline: 2px solid $c-main;
    }
  }
}

.sec_searchMain {
  height: 100vh;
  padding: 50px 0 60px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .list_searchUser {
    padding: 10px 16px;
  }
  .btn_searchUser {
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: all .2s;
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .img_searchUser {
    border: 1px solid $c-layout;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin-right: 12px;
    object-fit: cover;
    object-position: center center;
  }
  .txt_userName {
    display: block;
    font-size: 14px;
  }
  .txt_userId {
    color: $c-txt;
  }
}